.root {
    --border-radius: 4px;
    --border-color: rgba(0, 0, 0, 0.25);
    --primary-color: #4169e1;

    border-radius: var(--border-radius);
    display: grid;
    grid-template-rows: max-content;
    background: #ffffff;
    font-family: inherit;
}

.toolbar {
    padding: 8px;
    gap: 8px;
    border: 1px solid var(--border-color);
    border-bottom: none;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    background: #f5f5f5;
}

.toolbar[hidden] {
    display: none;
}

.group {
    display: flex;
}

.group > .button:first-child {
    --start-radius: var(--border-radius);
}

.group > .button:last-child {
    --end-radius: var(--border-radius);
}

.wrapper {
    min-height: 240px;
    padding: 8px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    display: grid;
}

.wrapper:first-child {
    border-radius: var(--border-radius);
}

.wrapper:focus-within {
    --border-color: var(--primary-color);

    border-width: 2px;
}

.wrapper:focus-within > .textarea {
    margin: -1px;
}

.textarea {
    padding: 0;
    border: none;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    resize: none;
}

.textarea:focus {
    outline: none;
}

.button {
    --inactive-border-width: 1px;
    --active-border-width: 2px;
    --border-width: var(--inactive-border-width);
    --base-padding: 4px;

    min-width: 32px;
    min-height: 32px;
    padding: calc(var(--base-padding) + var(--active-border-width) - var(--border-width));
    margin: 0 -1px;
    border: var(--border-width) solid var(--border-color);
    box-sizing: border-box;
    border-radius: var(--start-radius, 0) var(--end-radius, 0) var(--end-radius, 0)
    var(--start-radius, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    font-family: inherit;
    background: #ffffff;
    cursor: pointer;
}

.button:focus {
    --border-color: var(--primary-color);
    --border-width: var(--active-border-width);

    outline: none;
    z-index: 1;
}
