.coverContainer {
  position: relative;
  padding-top: 65%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;

  .cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
}

.cardInfo {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.company {
  display: grid;
  column-gap: 8px;
  grid-template-columns: 45px 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  height: 50px;
  width: 100%;

  .avatar {
    margin: 2px;
    width: 41px;
    height: 41px;
    border-radius: 18px;
    box-shadow: black 0 0 0 2px;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

