.card {
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 4px -2px rgb(0 0 0 / 20%),
      0 2px 5px 0px rgb(0 0 0 / 14%), 0 1px 7px 0px rgb(0 0 0 / 12%);
  }
}

.coverContainer {
  position: relative;
  padding-top: 65%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;

  .cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
}

.cardInfo {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.company {
  display: grid;
  column-gap: 8px;
  grid-template-columns: 45px 1fr;
  align-items: center;
  height: 50px;
  width: 100%;

  .avatar {
    margin: 2px;
    width: 41px;
    height: 41px;
    border-radius: 18px;
    box-shadow: black 0 0 0 2px;
  }
}
